player-connection-mode=Listen
player-connection-guid=1336041429
player-connection-debug=0
player-connection-project-name=Patate Clicker Game
player-connection-ip=192.168.1.39
player-connection-ip=192.168.137.1
player-connection-ip=192.168.65.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
strict-shader-variant-matching=1
wait-for-native-debugger=0
hdr-display-enabled=1
gc-max-time-slice=3
single-instance=
nolog=
build-guid=3037599d29464a97908df5e5d33e3ed7
